meetLandingPage/src/index.pug
doctype html
html(lang="en")
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(charset="UTF-8")
    meta(name="author" content="Dmitriy Granyov")
    meta(name="description", content="Solution For Meet Landing Page Frontend Mentor Challenge")
    title Meet Landing Page
  body
    header.header
      img(src="./img/logo.svg")
    section.hero
      .container
        h1.title Group Chat for Everyone
        p.subtitle Meet makes it easy to connect with others face-to-face virtually and collabotrate across any device.
        button.btn-download.hero__btn Download&nbsp;
          span.btn-download__span v1.3
        button.btn-faq.hero__btn.hero--btn-margin What is it?
        .path.hero__path
          .line
          span.number 01
    section.pictures
      .container
        .pictures__content
          .pictures__group
            img.picture(src="./img/image-woman-in-videocall.jpg" alt="Videocall")
            img.picture(src="./img/image-women-videochatting.jpg" alt="Videochatting")
          .pictures__group
            img.picture(src="./img/image-men-in-meeting.jpg" alt="Meeting")
            img.picture(src="./img/image-man-texting.jpg" alt="Texting")
    section.info
      .container
        .info__content
          p.overline built for modern use
          h2.info__title Smarter meetings, all in one place
          p.info__subtitle Send messages, share files, 
            | show your screen, and record your meetings — 
            | all in one workspace. Control who can join with 
            | invite-only team access, data encryption, and data export.
          .path.info__path
            .line
            span.number 02
    footer.footer
      .footer__wrap
      .container
        .cta.footer__content
          h2.cta__title Experience more together
          p.cta__subtitle Stay connected with reliable HD meetings and unlimited one-on-one and group video sessions.
          button.hero__btn.btn-cta Download&nbsp;
            span.btn-cta__span v1.3
      

meetLandingPage/dist/index.html
<!doctype html><html lang="en"><head><meta name="viewport" content="width=device-width,initial-scale=1"><meta http-equiv="Content-Type" content="text/html;charset=UTF-8"><meta charset="UTF-8"><meta name="author" content="Dmitriy Granyov"><meta name="description" content="Solution For Meet Landing Page Frontend Mentor Challenge"><title>Meet Landing Page</title><link rel="shortcut icon" href="assets/favicon.ico"><link rel="icon" type="image/png" sizes="16x16" href="assets/favicon-16x16.png"><link rel="icon" type="image/png" sizes="32x32" href="assets/favicon-32x32.png"><link rel="icon" type="image/png" sizes="48x48" href="assets/favicon-48x48.png"><link rel="manifest" href="assets/manifest.json"><meta name="mobile-web-app-capable" content="yes"><meta name="theme-color" content="#fff"><meta name="application-name" content="meetlandingpage"><link rel="apple-touch-icon" sizes="57x57" href="assets/apple-touch-icon-57x57.png"><link rel="apple-touch-icon" sizes="60x60" href="assets/apple-touch-icon-60x60.png"><link rel="apple-touch-icon" sizes="72x72" href="assets/apple-touch-icon-72x72.png"><link rel="apple-touch-icon" sizes="76x76" href="assets/apple-touch-icon-76x76.png"><link rel="apple-touch-icon" sizes="114x114" href="assets/apple-touch-icon-114x114.png"><link rel="apple-touch-icon" sizes="120x120" href="assets/apple-touch-icon-120x120.png"><link rel="apple-touch-icon" sizes="144x144" href="assets/apple-touch-icon-144x144.png"><link rel="apple-touch-icon" sizes="152x152" href="assets/apple-touch-icon-152x152.png"><link rel="apple-touch-icon" sizes="167x167" href="assets/apple-touch-icon-167x167.png"><link rel="apple-touch-icon" sizes="180x180" href="assets/apple-touch-icon-180x180.png"><link rel="apple-touch-icon" sizes="1024x1024" href="assets/apple-touch-icon-1024x1024.png"><meta name="apple-mobile-web-app-capable" content="yes"><meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"><meta name="apple-mobile-web-app-title" content="meetlandingpage"><link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="assets/apple-touch-startup-image-640x1136.png"><link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="assets/apple-touch-startup-image-750x1334.png"><link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="assets/apple-touch-startup-image-828x1792.png"><link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="assets/apple-touch-startup-image-1125x2436.png"><link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="assets/apple-touch-startup-image-1242x2208.png"><link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="assets/apple-touch-startup-image-1242x2688.png"><link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="assets/apple-touch-startup-image-1536x2048.png"><link rel="apple-touch-startup-image" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="assets/apple-touch-startup-image-1668x2224.png"><link rel="apple-touch-startup-image" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="assets/apple-touch-startup-image-1668x2388.png"><link rel="apple-touch-startup-image" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="assets/apple-touch-startup-image-2048x2732.png"><link rel="apple-touch-startup-image" media="(device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="assets/apple-touch-startup-image-1620x2160.png"><link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="assets/apple-touch-startup-image-1136x640.png"><link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="assets/apple-touch-startup-image-1334x750.png"><link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="assets/apple-touch-startup-image-1792x828.png"><link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="assets/apple-touch-startup-image-2436x1125.png"><link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="assets/apple-touch-startup-image-2208x1242.png"><link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="assets/apple-touch-startup-image-2688x1242.png"><link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="assets/apple-touch-startup-image-2048x1536.png"><link rel="apple-touch-startup-image" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="assets/apple-touch-startup-image-2224x1668.png"><link rel="apple-touch-startup-image" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="assets/apple-touch-startup-image-2388x1668.png"><link rel="apple-touch-startup-image" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="assets/apple-touch-startup-image-2732x2048.png"><link rel="apple-touch-startup-image" media="(device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="assets/apple-touch-startup-image-2160x1620.png"><link rel="icon" type="image/png" sizes="228x228" href="assets/coast-228x228.png"><meta name="msapplication-TileColor" content="#fff"><meta name="msapplication-TileImage" content="assets/mstile-144x144.png"><meta name="msapplication-config" content="assets/browserconfig.xml"><link rel="yandex-tableau-widget" href="assets/yandex-browser-manifest.json"><script defer="defer" src="js/main.bundle.js"></script><link href="main.4aa7e88f038a77433623.css" rel="stylesheet"></head><body><header class="header"><img src="./img/logo.svg"></header><section class="hero"><div class="container"><h1 class="title">Group Chat for Everyone</h1><p class="subtitle">Meet makes it easy to connect with others face-to-face virtually and collabotrate across any device.</p><button class="btn-download hero__btn">Download&nbsp;<span class="btn-download__span">v1.3</span></button><button class="btn-faq hero__btn hero--btn-margin">What is it?</button><div class="path hero__path"><div class="line"></div><span class="number">01</span></div></div></section><section class="pictures"><div class="container"><div class="pictures__content"><div class="pictures__group"><img class="picture" src="./img/image-woman-in-videocall.jpg" alt="Videocall"><img class="picture" src="./img/image-women-videochatting.jpg" alt="Videochatting"></div><div class="pictures__group"><img class="picture" src="./img/image-men-in-meeting.jpg" alt="Meeting"><img class="picture" src="./img/image-man-texting.jpg" alt="Texting"></div></div></div></section><section class="info"><div class="container"><div class="info__content"><p class="overline">built for modern use</p><h2 class="info__title">Smarter meetings, all in one place</h2><p class="info__subtitle">Send messages, share files, show your screen, and record your meetings — all in one workspace. Control who can join with invite-only team access, data encryption, and data export.</p><div class="path info__path"><div class="line"></div><span class="number">02</span></div></div></div></section><footer class="footer"><div class="footer__wrap"></div><div class="container"><div class="cta footer__content"><h2 class="cta__title">Experience more together</h2><p class="cta__subtitle">Stay connected with reliable HD meetings and unlimited one-on-one and group video sessions.</p><button class="hero__btn btn-cta">Download&nbsp;<span class="btn-cta__span">v1.3</span></button></div></div></footer></body></html>
