huddleLandingPageWithAlternatingFeatureBlocks/app/index.pug
//- Constants
- const LOGO_IMG = {src: 'img/logo.svg', alt: 'Huddle'}
- const LOGO_WHITE_IMG = {src: 'img/logo_white.svg', alt: 'Huddle'}
- const MAIN_IMG = {src: 'img/illustration-mockups.svg', alt: 'Illustration mockups'}

//- Mixins
mixin card(cardData)
  div(class=cardData.classes)
    img(class=cardData.img.classes src=cardData.img.src alt=cardData.img.alt)
    div(class=cardData.content.classes)
      h3=cardData.content.header
      p=cardData.content.subheader

mixin footerInfo(infoData)
  div(class=infoData.classes)
    i(class=infoData.icon.classes)
    p=infoData.text

mixin listItem(listItemData)
  li(class=listItemData.classes)
    a(href=listItemData.link.href)=listItemData.link.text

mixin socialsItem(itemData)
  li(class=itemData.classes)
    a(href=itemData.href)
      i(class=itemData.icon.classes)
      
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    <meta name="keywords" content="HTML, Pug, CSS, Less, Bootstrap">
    meta(name="description" content="Solution for https://www.frontendmentor.io/challenges/huddle-landing-page-with-alternating-feature-blocks-5ca5f5981e82137ec91a5100")
    meta(name="author" content="Dmitriy Granyov")
    title Huddle Landing Page With Alternating Feature Blocks Master
    // Favicon
    link(rel="shortcut icon" href="img/favicon-32x32.png" type="image/x-icon")
    // Bootstrap css
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous")
    link(rel="stylesheet" href="css/style.css")
  body
    // Main
    section.main
      .container
        nav.navbar.main-nav
          a(href="#")
            img.logo(src=LOGO_IMG.src alt=LOGO_IMG.alt)
          button.btn-nav.btn.btn-lg Try It Free
        .main-content
          .row
            .col-lg-5
              .main-content__header
                h1.
                  Build the Community
                  Your Fans Will Love
                p.
                  Huddle re-imagines the way we build communitues. You have
                  a voice, but so does your audience. Create connections with
                  your users as you engage in genuine discussion.
                button.btn-cta.btn.btn-lg Get Started For Free
            .col-lg-7
              img.main-content__img(src=MAIN_IMG.src alt=MAIN_IMG.alt)
    // Features
    section.features
      .container
        - const cards = []
        - cards.push({classes: 'card card-reverse', img: {classes: 'card-img', src: 'img/illustration-grow-together.svg', alt: 'Grow Together'}, content: {classes: 'card-content', header: 'Grow Together', subheader: 'Generate meaningful discussions with your audience and build a stron, loyal connubity. Think of the insightful conversations you miss out on with a feedback form.'}})
        - cards.push({classes: 'card', img: {classes: 'card-img', src: 'img/illustration-flowing-conversation.svg', alt: 'Flowing Conversation'}, content: {classes: 'card-content', header: 'Flowing Conversations', subheader: 'You wouldn\'t paginate a conversation in real life, so why do it online? Our threads have just-in-time loading for a more natural flow.'}})
        - cards.push({classes: 'card card-reverse', img: {classes: 'card-img', src: 'img/illustration-your-users.svg', alt: 'Your Users'}, content: {classes: 'card-content', header: 'Your Users', subheader: 'It takes no time at all to integrate Huddle with your app\'s authentication solution. This means, once signed in to your app, your users can start chatting immediately.'}})
        each card in cards
          +card(card)
        // CTA
        .cta
          h2 Ready To Build Your Community?
          button.btn-cta.btn.btn-lg Get Started For Free
    footer.footer
      .container.container__nomargin
        .row
          .col
            img.logo(src=LOGO_WHITE_IMG.src alt=LOGO_WHITE_IMG.alt)
        .row.footer-content
          .col-md-5
            - const footer_info = []
            - footer_info.push({classes: 'footer__info', icon: {classes: 'footer__icon fas fa-map-marker-alt'}, text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci facilis officia odit ratione ut debitis maiores distinctio consequuntur, eveniet numquam!'})
            - footer_info.push({classes: 'footer__info', icon: {classes: 'footer__icon fas fa-phone-alt'}, text: '+1-543-123-4567'})
            - footer_info.push({classes: 'footer__info', icon: {classes: 'footer__icon far fa-envelope'}, text: 'example@huddle.com'})
            each item in footer_info
              +footerInfo(item)
          .col-md-2
            ul.list
              - let links = []
              - links.push({classes: 'list-item', link: {href: '#', text: 'About Us'}})
              - links.push({classes: 'list-item', link: {href: '#', text: 'What We Do'}})
              - links.push({classes: 'list-item', link: {href: '#', text: 'FAQ'}})
              each link in links
                +listItem(link)
          .col-md-2
            ul.list
              - links = []
              - links.push({classes: 'list-item', link: {href: '#', text: 'Career'}})
              - links.push({classes: 'list-item', link: {href: '#', text: 'Blog'}})
              - links.push({classes: 'list-item', link: {href: '#', text: 'Contact Us'}})
              each link in links
                +listItem(link)
          .col-md-3
            ul.socials
              - const social_items = []
              - social_items.push({classes: 'socials__item', href: '#', icon: {classes: 'fab fa-facebook-f'}})
              - social_items.push({classes: 'socials__item', href: '#', icon: {classes: 'fab fa-twitter'}})
              - social_items.push({classes: 'socials__item', href: '#', icon: {classes: 'fab fa-instagram'}})
              each item in social_items
                +socialsItem(item)
        .row
          .col
            p.footer-copyright @ Copyright 2018 Huddle. All rights reserved.
        .row
          .col
            .footer-copyright
              a(href="https://gitlab.com/syr1ken") @syr1ken
    // Bootstrap + JQ
    script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous")
    // Font Awesome
    script(src="https://kit.fontawesome.com/4ebe998a10.js" crossorigin="anonymous")

huddleLandingPageWithAlternatingFeatureBlocks/dist/index.html
<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"><meta name="keywords" content="HTML, Pug, CSS, Less, Bootstrap"><meta name="description" content="Solution for https://www.frontendmentor.io/challenges/huddle-landing-page-with-alternating-feature-blocks-5ca5f5981e82137ec91a5100"><meta name="author" content="Dmitriy Granyov"><title>Huddle Landing Page With Alternating Feature Blocks Master</title><!-- Favicon--><link rel="shortcut icon" href="img/favicon-32x32.png" type="image/x-icon"><!-- Bootstrap css--><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"><link rel="stylesheet" href="css/style.css"></head><body><!-- Main--><section class="main"><div class="container"><nav class="navbar main-nav"><a href="#"><img class="logo" src="img/logo.svg" alt="Huddle"></a><button class="btn-nav btn btn-lg">Try It Free</button></nav><div class="main-content"><div class="row"><div class="col-lg-5"><div class="main-content__header"><h1>Build the Community
Your Fans Will Love</h1><p>Huddle re-imagines the way we build communitues. You have
a voice, but so does your audience. Create connections with
your users as you engage in genuine discussion.</p><button class="btn-cta btn btn-lg">Get Started For Free</button></div></div><div class="col-lg-7"><img class="main-content__img" src="img/illustration-mockups.svg" alt="Illustration mockups"></div></div></div></div></section><!-- Features--><section class="features"><div class="container"><div class="card card-reverse"><img class="card-img" src="img/illustration-grow-together.svg" alt="Grow Together"/><div class="card-content"><h3>Grow Together</h3><p>Generate meaningful discussions with your audience and build a stron, loyal connubity. Think of the insightful conversations you miss out on with a feedback form.</p></div></div><div class="card"><img class="card-img" src="img/illustration-flowing-conversation.svg" alt="Flowing Conversation"/><div class="card-content"><h3>Flowing Conversations</h3><p>You wouldn't paginate a conversation in real life, so why do it online? Our threads have just-in-time loading for a more natural flow.</p></div></div><div class="card card-reverse"><img class="card-img" src="img/illustration-your-users.svg" alt="Your Users"/><div class="card-content"><h3>Your Users</h3><p>It takes no time at all to integrate Huddle with your app's authentication solution. This means, once signed in to your app, your users can start chatting immediately.</p></div></div><!-- CTA--><div class="cta"><h2>Ready To Build Your Community?</h2><button class="btn-cta btn btn-lg">Get Started For Free</button></div></div></section><footer class="footer"><div class="container container__nomargin"><div class="row"><div class="col"><img class="logo" src="img/logo_white.svg" alt="Huddle"></div></div><div class="row footer-content"><div class="col-md-5"><div class="footer__info"><i class="footer__icon fas fa-map-marker-alt"></i><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci facilis officia odit ratione ut debitis maiores distinctio consequuntur, eveniet numquam!</p></div><div class="footer__info"><i class="footer__icon fas fa-phone-alt"></i><p>+1-543-123-4567</p></div><div class="footer__info"><i class="footer__icon far fa-envelope"></i><p>example@huddle.com</p></div></div><div class="col-md-2"><ul class="list"><li class="list-item"><a href="#">About Us</a></li><li class="list-item"><a href="#">What We Do</a></li><li class="list-item"><a href="#">FAQ</a></li></ul></div><div class="col-md-2"><ul class="list"><li class="list-item"><a href="#">Career</a></li><li class="list-item"><a href="#">Blog</a></li><li class="list-item"><a href="#">Contact Us</a></li></ul></div><div class="col-md-3"><ul class="socials"><li class="socials__item"><a href="#"><i class="fab fa-facebook-f"></i></a></li><li class="socials__item"><a href="#"><i class="fab fa-twitter"></i></a></li><li class="socials__item"><a href="#"><i class="fab fa-instagram"></i></a></li></ul></div></div><div class="row"><div class="col"><p class="footer-copyright">@ Copyright 2018 Huddle. All rights reserved.</p></div></div><div class="row"><div class="col"><div class="footer-copyright"><a href="https://gitlab.com/syr1ken">@syr1ken</a></div></div></div></div></footer><!-- Bootstrap + JQ--><script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script><!-- Font Awesome--><script src="https://kit.fontawesome.com/4ebe998a10.js" crossorigin="anonymous"></script></body></html>
