trackingIntroComponent/dist/index.html
<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"><meta name="keywords" content="HTML, Pug, CSS, Sass, Bootstrap"><meta name="description" content="Solution for https://www.frontendmentor.io/challenges/project-tracking-intro-component-5d289097500fcb331a67d80e"><meta name="author" content="Dmitriy Granyov"><title>Tracking Intro Component</title><!-- Favicon--><link rel="shortcut icon" href="img/favicon-32x32.png" type="image/x-icon"><!-- Bootstrap css--><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"><link rel="stylesheet" href="css/style.css"></head><body><header class="header" id="header"><div class="container"><nav class="navbar"><a href="#"><img class="logo" src="img/logo.svg" alt="Clipboard"></a><button id="ham"><i class="fas fa-bars" id="ham_icon"></i></button><ul class="nav" id="nav-ul"><li class="li_link" id=""><a class="link nav-link" href="#">Product</a></li><li class="li_link" id=""><a class="link nav-link" href="#">Features</a></li><li class="li_link" id=""><a class="link nav-link" href="#">Pricing</a></li><li class="li_link" id="link_dot"><a class="link nav-link" href="#"><i class="fas fa-circle"></i></a></li><li class="li_link" id=""><a class="link nav-link login" href="#">Login</a></li></ul></nav></div></header><main class="main" id="main"><div class="container"><div class="main-content"><div class="col-md-6"><div class="main-content_textwrap"><p class="main-content_pretitle"><span>New</span>Monograph dashboard</p><h1 class="main-content_title">Powerful insights into your team</h1><p class="main-content_aftertitle">Project planning and time tracking for agile teams</p><div class="main-content_buttons"><button class="btn_demo btn btn-lg">Shedule a demo</button><button class="btn_preview btn btn-lg">To see a preview</button></div></div></div><div class="col-md-6"><img class="main-img" src="img/illustration-devices.svg" alt=""></div></div></div></main><footer class="footer" id="footer"><a class="link" href="https://gitlab.com/syr1ken">@syr1ken</a></footer><!-- Bootstrap + JQ--><script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script><!-- Font Awesome--><script src="https://kit.fontawesome.com/4ebe998a10.js" crossorigin="anonymous"></script><!-- JS--><script src="js/main.js"></script></body></html>

trackingIntroComponent/app/index.pug
//- Constants
- const LOGO_IMG = {src: 'img/logo.svg', alt: 'Clipboard'}
- const DEVICES_IMG = {src: 'img/illustration-devices.svg', alt: ''}

//- Mixins
mixin link(linkData)
  li(id=linkData.id class=linkData.classes)
    a(href=linkData.a.href class=linkData.a.classes)=linkData.a.text
      if linkData.id 
        i.fas.fa-circle
    
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    <meta name="keywords" content="HTML, Pug, CSS, Sass, Bootstrap">
    meta(name="description" content="Solution for https://www.frontendmentor.io/challenges/project-tracking-intro-component-5d289097500fcb331a67d80e")
    meta(name="author" content="Dmitriy Granyov")
    title Tracking Intro Component
    // Favicon
    link(rel="shortcut icon" href="img/favicon-32x32.png" type="image/x-icon")
    // Bootstrap css
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous")
    link(rel="stylesheet" href="css/style.css")
  body
    header#header.header
      .container
        nav.navbar
          a(href="#")
            img.logo(src=LOGO_IMG.src alt=LOGO_IMG.alt)
          button#ham
            i#ham_icon.fas.fa-bars
          ul#nav-ul.nav
            - let links = []
            - links.push({id: '', classes: 'li_link', a: {classes: 'link nav-link', href: '#', text: 'Product'}})
            - links.push({id: '', classes: 'li_link', a: {classes: 'link nav-link', href: '#', text: 'Features'}})
            - links.push({id: '', classes: 'li_link', a: {classes: 'link nav-link', href: '#', text: 'Pricing'}})
            - links.push({id: 'link_dot', classes: 'li_link', a: {classes: 'link nav-link', href: '#', text: ''}})
            - links.push({id: '', classes: 'li_link', a: {classes: 'link nav-link login', href: '#', text: 'Login'}})
            each link in links
              +link(link)
    main#main.main
      .container
        .main-content
          .col-md-6
            .main-content_textwrap
              p.main-content_pretitle
                span New
                | Monograph dashboard
              h1.main-content_title Powerful insights into your team
              p.main-content_aftertitle Project planning and time tracking for agile teams
              .main-content_buttons
                button.btn_demo.btn.btn-lg Shedule a demo
                button.btn_preview.btn.btn-lg To see a preview
          .col-md-6
            img.main-img(src=DEVICES_IMG.src alt=DEVICES_IMG.alt)
    footer#footer.footer
      a.link(href="https://gitlab.com/syr1ken") @syr1ken
    // Bootstrap + JQ
    script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous")
    // Font Awesome
    script(src="https://kit.fontawesome.com/4ebe998a10.js" crossorigin="anonymous")
    // JS
    script(src="js/main.js")
