fourCardFeaturesSection/app/index.pug
//- Mixins
mixin card(cardData)
  .card(class=cardData.class)
    h3= cardData.tittle
    p.card-text= cardData.text
    img.card-image(src=cardData.imgsrc alt=cardData.imgalt)

doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    <meta name="keywords" content="HTML, Pug, CSS, SASS, Grid">
    meta(name="description" content="Solution for https://www.frontendmentor.io/challenges/four-card-feature-section-weK1eFYK challenge")
    meta(name="author" content="Dmitriy Granyov")
    title Four Card Features Section
    link(rel="stylesheet" href="css/style.css")
    // Favicon
    link(rel="shortcut icon" href="img/favicon-32x32.png" type="image/x-icon")
  body
    // Main section
    main#main.main
      .container-fluid
        .main-header
          h1 Reliable, efficient delivery
          h2 Powered by Technology
          p.main-header-text Our Artificial intelligence powered tools use millions of product data points to ensure that your project is successful
        .grid-container
          - const cards = []
          - cards.push({class: 'card-one', tittle: 'Supervisor', text: 'Monitors activty to identify project roadblocks', imgsrc: 'img/magnifier.png', imgalt: 'magnifier'})
          - cards.push({class: 'card-two', tittle: 'Team Builder', text: 'Scans our talent network to create optimal team for your project', imgsrc: 'img/webpage.png', imgalt: 'webpage'})
          - cards.push({class: 'card-three', tittle: 'Karma', text: 'Regularly evaluates our talent to ensure quality', imgsrc: 'img/bulb.png', imgalt: 'bulb'})
          - cards.push({class: 'card-four', tittle: 'Calculator', text: 'Uses date from past projects to provide better delivery estimates', imgsrc: 'img/monitor.png', imgalt: 'monitor'})
          each card in cards
            +card(card)
    // Footer section
    footer#footer
      a(href="https://gitlab.com/syr1ken") @syr1ken

fourCardFeaturesSection/dist/index.html
<!DOCTYPE html><html><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"><meta name="keywords" content="HTML, Pug, CSS, SASS, Grid"><meta name="description" content="Solution for https://www.frontendmentor.io/challenges/four-card-feature-section-weK1eFYK challenge"><meta name="author" content="Dmitriy Granyov"><title>Four Card Features Section</title><link rel="stylesheet" href="css/style.css"><!-- Favicon--><link rel="shortcut icon" href="img/favicon-32x32.png" type="image/x-icon"></head><body><!-- Main section--><main class="main" id="main"><div class="container-fluid"><div class="main-header"><h1>Reliable, efficient delivery</h1><h2>Powered by Technology</h2><p class="main-header-text">Our Artificial intelligence powered tools use millions of product data points to ensure that your project is successful</p></div><div class="grid-container"><div class="card card-one"><h3>Supervisor</h3><p class="card-text">Monitors activty to identify project roadblocks</p><img class="card-image" src="img/magnifier.png" alt="magnifier"/></div><div class="card card-two"><h3>Team Builder</h3><p class="card-text">Scans our talent network to create optimal team for your project</p><img class="card-image" src="img/webpage.png" alt="webpage"/></div><div class="card card-three"><h3>Karma</h3><p class="card-text">Regularly evaluates our talent to ensure quality</p><img class="card-image" src="img/bulb.png" alt="bulb"/></div><div class="card card-four"><h3>Calculator</h3><p class="card-text">Uses date from past projects to provide better delivery estimates</p><img class="card-image" src="img/monitor.png" alt="monitor"/></div></div></div></main><!-- Footer section--><footer id="footer"><a href="https://gitlab.com/syr1ken">@syr1ken</a></footer></body></html>
