fyloLandingPageWithTwoColumnLayout/app/index.pug
//- Constants
- const LOGO_IMG = {src: 'img/logo.svg', alt: 'Huddle'}
- const LOGO_WHITE_IMG = {src: 'img/logo_white.svg', alt: 'Huddle'}
- const MAIN_IMG = {src: 'img/illustration-1.svg', alt: ''}
- const TESTIMONIAL_IMG = {src: 'img/illustration-2.svg', alt: ''}
- const TESTIMONIAL_AVATAR_IMG = {src: 'img/avatar-testimonial.jpg', alt: ''}

//- Mixins
mixin linkList(listData)
  li(class=listData.li.classes)
    a(href=listData.link.href class=listData.link.classes)=listData.link.text
    
mixin footerInfo(infoData)
  div(class=infoData.classes)
    i(class=infoData.icon.classes)
    p=infoData.text

mixin listItem(listItemData)
  li(class=listItemData.classes)
    a(href=listItemData.link.href)=listItemData.link.text

mixin socialsItem(itemData)
  li(class=itemData.classes)
    a(href=itemData.href)
      i(class=itemData.icon.classes)

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    <meta name="keywords" content="HTML, Pug, CSS, Less, Bootstrap">
    meta(name="description" content="Solution for https://www.frontendmentor.io/challenges/fylo-landing-page-with-two-column-layout-5ca5ef041e82137ec91a50f5")
    meta(name="author" content="Dmitriy Granyov")
    title Fylo Landing Page With Two Column Layout
    // Favicon
    link(rel="shortcut icon" href="img/favicon-32x32.png" type="image/x-icon")
    // Bootstrap css
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous")
    link(rel="stylesheet" href="css/style.css")
  body
    // Header
    header.header
      .container
        nav.navbar.navbar-light.navbar-expand-md
          a.navbar-brand(href="#")
            img.logo(src=LOGO_IMG.src alt=LOGO_IMG.alt)
          button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbar-toggle" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
            span.navbar-toggler-icon
          #navbar-toggle.collapse.navbar-collapse
            ul.navbar-nav.nav.ml-auto
              - let links = []
              - links.push({li: {classes: 'navbar-item'}, link: {href: '#', classes: 'navbar-link', text: 'Features'}})
              - links.push({li: {classes: 'navbar-item'}, link: {href: '#', classes: 'navbar-link', text: 'Team'}})
              - links.push({li: {classes: 'navbar-item'}, link: {href: '#', classes: 'navbar-link', text: 'Sign in'}})
              each link in links
                +linkList(link)
    section.main
      .container
        .row.column-reverse
          .col-md-6
            .main-content
              h1 All your files in one secure locationm accessible anywhere.
              p Fylo stores your most improtant files in one secure location. Access them wherever you need, sahre and collaborate with friends, family and co-workers.
              form(action='#').main-form
                .main-form-group
                  input.main-form-group__email.form-control(type="email" placeholder="Enter your email...")
                  button.btn.btn-lg.btn-main.main-form-group__btn(type="submit") Get Started
          .col-md-6
            img.img-main(src=MAIN_IMG.src alt=MAIN_IMG.alt)
    section.testimonials
      .container
        .row.column-reverse
          .col-md-7
            .testimonials-content
              h1 Stay productive wherever you are
              p Never let location be an issue when accessing youe files. Fylo has you covered for all of your file storage need.
              p Securely share files and folders with friends, family and colleagues for live collaboration. No email attachments required!
              a.border__underline(href="#") See how Fylo works
                i.fas.fa-arrow-circle-right
            .testimonials__card
              i.fas.fa-quote-left
              p Fylo has improved our team productivity by an order of magnitude. Since making the switch our tean has become a well-oiled collaboration machine.
              .media
                img(src=TESTIMONIAL_AVATAR_IMG.src alt=TESTIMONIAL_AVATAR_IMG.alt)
                .media-body
                  h3 Kyle Burton
                  p Founder	&amp; CEO, Huddle
          .col-md-5
            img.img-testimonials(src=TESTIMONIAL_IMG.src alt=TESTIMONIAL_IMG.alt)
    section.cta
      .container
        .row
          .col-md-7
            .cta-content
              h2 Get early access today
              p It only takes a minute to sign up and our free starter tier is extremely generous. If you have any questions, our support team would be happy to help you.
          .col-md-5
            form.cta-form(action='#')
              .cta-form-group
                input.cta-form-group__email.form-control(type="email" placeholder="Enter your email...")
                button.btn.btn-lg.btn-main.cta-form-group__btn(type="submit") Get Started For Free
    footer.footer
      .container.container__nomargin
        .row
          .col
            img.logo(src=LOGO_WHITE_IMG.src alt=LOGO_WHITE_IMG.alt)
        .row.footer-content
          .col-md-5
            - const footer_info = []
            - footer_info.push({classes: 'footer__info', icon: {classes: 'footer__icon fas fa-phone-alt'}, text: '+1-543-123-4567'})
            - footer_info.push({classes: 'footer__info', icon: {classes: 'footer__icon far fa-envelope'}, text: 'example@huddle.com'})
            each item in footer_info
              +footerInfo(item)
          .col-md-2
            ul.list
              - links = []
              - links.push({classes: 'list-item', link: {href: '#', text: 'About Us'}})
              - links.push({classes: 'list-item', link: {href: '#', text: 'Jobs'}})
              - links.push({classes: 'list-item', link: {href: '#', text: 'Press'}})
              - links.push({classes: 'list-item', link: {href: '#', text: 'FAQ'}})
              each link in links
                +listItem(link)
          .col-md-2
            ul.list
              - links = []
              - links.push({classes: 'list-item', link: {href: '#', text: 'Contact Us'}})
              - links.push({classes: 'list-item', link: {href: '#', text: 'Terms'}})
              - links.push({classes: 'list-item', link: {href: '#', text: 'Privacy'}})
              each link in links
                +listItem(link)
          .col-md-3
            ul.socials
              - const social_items = []
              - social_items.push({classes: 'socials__item', href: '#', icon: {classes: 'fab fa-facebook-f'}})
              - social_items.push({classes: 'socials__item', href: '#', icon: {classes: 'fab fa-twitter'}})
              - social_items.push({classes: 'socials__item', href: '#', icon: {classes: 'fab fa-instagram'}})
              each item in social_items
                +socialsItem(item)
        .row
          .col
            .footer-copyright
              a(href="https://gitlab.com/syr1ken") @syr1ken
    // Bootstrap + JQ
    script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous")
    // Font Awesome
    script(src="https://kit.fontawesome.com/4ebe998a10.js" crossorigin="anonymous")

fyloLandingPageWithTwoColumnLayout/app/index.html
<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"><meta name="keywords" content="HTML, Pug, CSS, Less, Bootstrap"><meta name="description" content="Solution for https://www.frontendmentor.io/challenges/fylo-landing-page-with-two-column-layout-5ca5ef041e82137ec91a50f5"><meta name="author" content="Dmitriy Granyov"><title>Fylo Landing Page With Two Column Layout</title><!-- Favicon--><link rel="shortcut icon" href="img/favicon-32x32.png" type="image/x-icon"><!-- Bootstrap css--><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"><link rel="stylesheet" href="css/style.css"></head><body><!-- Header--><header class="header"><div class="container"><nav class="navbar navbar-light navbar-expand-md"><a class="navbar-brand" href="#"><img class="logo" src="img/logo.svg" alt="Huddle"></a><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-toggle" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button><div class="collapse navbar-collapse" id="navbar-toggle"><ul class="navbar-nav nav ml-auto"><li class="navbar-item"><a class="navbar-link" href="#">Features</a></li><li class="navbar-item"><a class="navbar-link" href="#">Team</a></li><li class="navbar-item"><a class="navbar-link" href="#">Sign in</a></li></ul></div></nav></div></header><section class="main"><div class="container"><div class="row column-reverse"><div class="col-md-6"><div class="main-content"><h1>All your files in one secure locationm accessible anywhere.</h1><p>Fylo stores your most improtant files in one secure location. Access them wherever you need, sahre and collaborate with friends, family and co-workers.</p><form class="main-form" action="#"><div class="main-form-group"><input class="main-form-group__email form-control" type="email" placeholder="Enter your email..."><button class="btn btn-lg btn-main main-form-group__btn" type="submit">Get Started</button></div></form></div></div><div class="col-md-6"><img class="img-main" src="img/illustration-1.svg" alt=""></div></div></div></section><section class="testimonials"><div class="container"><div class="row column-reverse"><div class="col-md-7"><div class="testimonials-content"><h1>Stay productive wherever you are</h1><p>Never let location be an issue when accessing youe files. Fylo has you covered for all of your file storage need.</p><p>Securely share files and folders with friends, family and colleagues for live collaboration. No email attachments required!</p><a class="border__underline" href="#">See how Fylo works<i class="fas fa-arrow-circle-right"></i></a></div><div class="testimonials__card"><i class="fas fa-quote-left"></i><p>Fylo has improved our team productivity by an order of magnitude. Since making the switch our tean has become a well-oiled collaboration machine.</p><div class="media"><img src="img/avatar-testimonial.jpg" alt=""><div class="media-body"><h3>Kyle Burton</h3><p>Founder	&amp; CEO, Huddle</p></div></div></div></div><div class="col-md-5"><img class="img-testimonials" src="img/illustration-2.svg" alt=""></div></div></div></section><section class="cta"><div class="container"><div class="row"><div class="col-md-7"><div class="cta-content"><h2>Get early access today</h2><p>It only takes a minute to sign up and our free starter tier is extremely generous. If you have any questions, our support team would be happy to help you.</p></div></div><div class="col-md-5"><form class="cta-form" action="#"><div class="cta-form-group"><input class="cta-form-group__email form-control" type="email" placeholder="Enter your email..."><button class="btn btn-lg btn-main cta-form-group__btn" type="submit">Get Started For Free</button></div></form></div></div></div></section><footer class="footer"><div class="container container__nomargin"><div class="row"><div class="col"><img class="logo" src="img/logo_white.svg" alt="Huddle"></div></div><div class="row footer-content"><div class="col-md-5"><div class="footer__info"><i class="footer__icon fas fa-phone-alt"></i><p>+1-543-123-4567</p></div><div class="footer__info"><i class="footer__icon far fa-envelope"></i><p>example@huddle.com</p></div></div><div class="col-md-2"><ul class="list"><li class="list-item"><a href="#">About Us</a></li><li class="list-item"><a href="#">Jobs</a></li><li class="list-item"><a href="#">Press</a></li><li class="list-item"><a href="#">FAQ</a></li></ul></div><div class="col-md-2"><ul class="list"><li class="list-item"><a href="#">Contact Us</a></li><li class="list-item"><a href="#">Terms</a></li><li class="list-item"><a href="#">Privacy</a></li></ul></div><div class="col-md-3"><ul class="socials"><li class="socials__item"><a href="#"><i class="fab fa-facebook-f"></i></a></li><li class="socials__item"><a href="#"><i class="fab fa-twitter"></i></a></li><li class="socials__item"><a href="#"><i class="fab fa-instagram"></i></a></li></ul></div></div><div class="row"><div class="col"><div class="footer-copyright"><a href="https://gitlab.com/syr1ken">@syr1ken</a></div></div></div></div></footer><!-- Bootstrap + JQ--><script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script><!-- Font Awesome--><script src="https://kit.fontawesome.com/4ebe998a10.js" crossorigin="anonymous"></script></body></html>
