baseApparelComingSoonMaster/dist/index.html
<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"><meta name="keywords" content="HTML, Pug, CSS, Less, Bootstrap-reset"><meta name="description" content="Solution for https://www.frontendmentor.io/challenges/base-apparel-coming-soon-page-5d46b47f8db8a7063f9331a0"><meta name="author" content="Dmitriy Granyov"><title>Base Apparel Coming Soon Master</title><!-- Favicon--><link rel="shortcut icon" href="img/favicon-32x32.png" type="image/x-icon"><link rel="stylesheet" href="css/style.css"></head><body><main class="main" id="main"><div class="container-fluid"><div class="grid"><div class="main-logo"><img class="logo" src="img/logo.svg" alt="Base Apparel"></div><div class="main-content"><h1>we're <br><span>coming <br></span>soon</h1><p>Hello fellow shopper! We're currently building our new fashion store. Add your email below to stay up-to-date with announcements and our launch delas</p><form class="form" action="#"><div class="form-group"><input class="form-email" name="Email" type="email" placeholder="Email Adress"><small class="form-error" for="Email"></small><img class="form-errorimg" src="img/icon-error.svg" alt="-!-" for="Email"><button class="form-btn btn__sumbit" type="submit"><img class="form-arrow" src="img/icon-arrow.svg" alt="&gt;"></button></div></form></div><div class="main-img"></div></div></div></main><script src="js/main.js"></script></body></html>

baseApparelComingSoonMaster/app/index.pug
//- Constants
- const LOGO_IMG = {src:'img/logo.svg', alt: 'Base Apparel'}
- const ICON_ERROR = {src: 'img/icon-error.svg', alt: '-!-'}
- const ARROW_ERROR = {src: 'img/icon-arrow.svg', alt: '>'}

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    <meta name="keywords" content="HTML, Pug, CSS, Less, Bootstrap-reset">
    meta(name="description" content="Solution for https://www.frontendmentor.io/challenges/base-apparel-coming-soon-page-5d46b47f8db8a7063f9331a0")
    meta(name="author" content="Dmitriy Granyov")
    title Base Apparel Coming Soon Master
    // Favicon
    link(rel="shortcut icon" href="img/favicon-32x32.png" type="image/x-icon")
    link(rel="stylesheet" href="css/style.css")
  body
    main#main.main
      .container-fluid
        .grid
          .main-logo
            img.logo(src=LOGO_IMG.src alt=LOGO_IMG.alt)
          .main-content
            h1
              | we're #[br]
              span coming #[br]
              | soon
            p Hello fellow shopper! We're currently building our new fashion store. Add your email below to stay up-to-date with announcements and our launch delas
            form.form(action="#")
              .form-group
                input.form-email(name="Email" type="email" placeholder="Email Adress")
                small.form-error(for="Email")
                img.form-errorimg(src=ICON_ERROR.src alt=ICON_ERROR.alt for="Email")
                button.form-btn.btn__sumbit(type="submit")
                  img.form-arrow(src=ARROW_ERROR.src alt=ARROW_ERROR.alt)
          .main-img
    script(src="js/main.js")
