typeMasterPreLaunchLandingPage/src/index.pug
doctype html
html(lang="en")
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(charset="UTF-8")
    meta(name="author" content="Dmitriy Granyov")
    meta(name="description", content="Solution For Type Master Pre Launch Landing Page Frontend Mentor Challenge")
    title Type Master Pre Launch Landing Page
  body
    header.header
      .container.header__content
        a.link(href="#")
          img.logo(src="./img/logo.svg")
        button.btn Pre-Order Now
    section.hero
      .container
        .hero__content
          .cta
            h1.cta__title Typemaster Keyboard
            p.cta__subtitle Improve your productivity and gaming without breaking the bank. Upgrade to a high quality mechanical typing experience.
            .cta__group
              button.btn.cta__btn Pre-Order Now
              p.cta__release Release on 5/27
          .img
          img.square(src="./img/pattern-square.svg")
    section.main
      .container
        .main__content
          .main__iamges
            .left-img
              .img-overlay
            .right-img
            img.main__square(src="./img/pattern-square.svg")
          .main__group
            h2.main__title mechanical wireless Keyboard
            p.main__subtitle The Typemaster keyboard boasts top-notch build and practical design. It offers a wide variety of switches and keycaps, along with reliable wireless connectivity.
    section.features
      .container
        .features__content
          .features__group
            .card
              .card__img-container
                img.card__img(src="./img/icon-compatible.svg")
              h3.card__title HIGHLY COMPATIBLE
              p.card__subtitle
                | Easy to use and works well with all major computer brands, gaming consoles and mobile devices. Plug & play, no installation or driver needed.
            .card
              .card__img-container
                img.card__img(src="./img/icon-bluetooth.svg")
              h3.card__title WIRELESS WITH BLUETOOTH
              p.card__subtitle
                | Powerful 2.4G RF technology allows you to connect the cordless keyboard from up to 30ft away. Simply plug the unifying receiver into your computer.
          .features__group
            .card
              .card__img-container
                img.card__img(src="./img/icon-battery.svg")
              h3.card__title HIGH CAPACITY BATTERY
              p.card__subtitle
                | Equipped with a long-lasting built-in battery, you’ll never have to spend a dime on replaceable ones. Enjoy 40 hours of usage time between charges.
            .card
              .card__img-container
                img.card__img(src="./img/icon-light.svg")
              h3.card__title RGB BACKLIT MODES
              p.card__subtitle
                | Choose from 4 backlight brightness levels and adjustable breathing speed. Each key glows intensely in the dark and helps you type in low light conditions.
    footer.footer
      p.copyright
        span.bold Typemaster 2021&nbsp;
        .
          |  All Rights Reserved

typeMasterPreLaunchLandingPage/dist/index.html
<!doctype html><html lang="en"><head><meta name="viewport" content="width=device-width,initial-scale=1"><meta http-equiv="Content-Type" content="text/html;charset=UTF-8"><meta charset="UTF-8"><meta name="author" content="Dmitriy Granyov"><meta name="description" content="Solution For Type Master Pre Launch Landing Page Frontend Mentor Challenge"><title>Type Master Pre Launch Landing Page</title><link rel="shortcut icon" href="assets/favicon.ico"><link rel="icon" type="image/png" sizes="16x16" href="assets/favicon-16x16.png"><link rel="icon" type="image/png" sizes="32x32" href="assets/favicon-32x32.png"><link rel="icon" type="image/png" sizes="48x48" href="assets/favicon-48x48.png"><link rel="manifest" href="assets/manifest.json"><meta name="mobile-web-app-capable" content="yes"><meta name="theme-color" content="#fff"><meta name="application-name" content="typemasterprelaunchlandingpage"><link rel="apple-touch-icon" sizes="57x57" href="assets/apple-touch-icon-57x57.png"><link rel="apple-touch-icon" sizes="60x60" href="assets/apple-touch-icon-60x60.png"><link rel="apple-touch-icon" sizes="72x72" href="assets/apple-touch-icon-72x72.png"><link rel="apple-touch-icon" sizes="76x76" href="assets/apple-touch-icon-76x76.png"><link rel="apple-touch-icon" sizes="114x114" href="assets/apple-touch-icon-114x114.png"><link rel="apple-touch-icon" sizes="120x120" href="assets/apple-touch-icon-120x120.png"><link rel="apple-touch-icon" sizes="144x144" href="assets/apple-touch-icon-144x144.png"><link rel="apple-touch-icon" sizes="152x152" href="assets/apple-touch-icon-152x152.png"><link rel="apple-touch-icon" sizes="167x167" href="assets/apple-touch-icon-167x167.png"><link rel="apple-touch-icon" sizes="180x180" href="assets/apple-touch-icon-180x180.png"><link rel="apple-touch-icon" sizes="1024x1024" href="assets/apple-touch-icon-1024x1024.png"><meta name="apple-mobile-web-app-capable" content="yes"><meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"><meta name="apple-mobile-web-app-title" content="typemasterprelaunchlandingpage"><link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="assets/apple-touch-startup-image-640x1136.png"><link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="assets/apple-touch-startup-image-750x1334.png"><link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="assets/apple-touch-startup-image-828x1792.png"><link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="assets/apple-touch-startup-image-1125x2436.png"><link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="assets/apple-touch-startup-image-1242x2208.png"><link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="assets/apple-touch-startup-image-1242x2688.png"><link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="assets/apple-touch-startup-image-1536x2048.png"><link rel="apple-touch-startup-image" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="assets/apple-touch-startup-image-1668x2224.png"><link rel="apple-touch-startup-image" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="assets/apple-touch-startup-image-1668x2388.png"><link rel="apple-touch-startup-image" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="assets/apple-touch-startup-image-2048x2732.png"><link rel="apple-touch-startup-image" media="(device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="assets/apple-touch-startup-image-1620x2160.png"><link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="assets/apple-touch-startup-image-1136x640.png"><link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="assets/apple-touch-startup-image-1334x750.png"><link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="assets/apple-touch-startup-image-1792x828.png"><link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="assets/apple-touch-startup-image-2436x1125.png"><link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="assets/apple-touch-startup-image-2208x1242.png"><link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="assets/apple-touch-startup-image-2688x1242.png"><link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="assets/apple-touch-startup-image-2048x1536.png"><link rel="apple-touch-startup-image" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="assets/apple-touch-startup-image-2224x1668.png"><link rel="apple-touch-startup-image" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="assets/apple-touch-startup-image-2388x1668.png"><link rel="apple-touch-startup-image" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="assets/apple-touch-startup-image-2732x2048.png"><link rel="apple-touch-startup-image" media="(device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="assets/apple-touch-startup-image-2160x1620.png"><link rel="icon" type="image/png" sizes="228x228" href="assets/coast-228x228.png"><meta name="msapplication-TileColor" content="#fff"><meta name="msapplication-TileImage" content="assets/mstile-144x144.png"><meta name="msapplication-config" content="assets/browserconfig.xml"><link rel="yandex-tableau-widget" href="assets/yandex-browser-manifest.json"><script defer="defer" src="js/main.bundle.js"></script><link href="main.2614beb0b9c70babecaa.css" rel="stylesheet"></head><body><header class="header"><div class="container header__content"><a class="link" href="#"><img class="logo" src="./img/logo.svg"></a><button class="btn">Pre-Order Now</button></div></header><section class="hero"><div class="container"><div class="hero__content"><div class="cta"><h1 class="cta__title">Typemaster Keyboard</h1><p class="cta__subtitle">Improve your productivity and gaming without breaking the bank. Upgrade to a high quality mechanical typing experience.</p><div class="cta__group"><button class="btn cta__btn">Pre-Order Now</button><p class="cta__release">Release on 5/27</p></div></div><div class="img"></div><img class="square" src="./img/pattern-square.svg"></div></div></section><section class="main"><div class="container"><div class="main__content"><div class="main__iamges"><div class="left-img"><div class="img-overlay"></div></div><div class="right-img"></div><img class="main__square" src="./img/pattern-square.svg"></div><div class="main__group"><h2 class="main__title">mechanical wireless Keyboard</h2><p class="main__subtitle">The Typemaster keyboard boasts top-notch build and practical design. It offers a wide variety of switches and keycaps, along with reliable wireless connectivity.</p></div></div></div></section><section class="features"><div class="container"><div class="features__content"><div class="features__group"><div class="card"><div class="card__img-container"><img class="card__img" src="./img/icon-compatible.svg"></div><h3 class="card__title">HIGHLY COMPATIBLE</h3><p class="card__subtitle">Easy to use and works well with all major computer brands, gaming consoles and mobile devices. Plug & play, no installation or driver needed.</p></div><div class="card"><div class="card__img-container"><img class="card__img" src="./img/icon-bluetooth.svg"></div><h3 class="card__title">WIRELESS WITH BLUETOOTH</h3><p class="card__subtitle">Powerful 2.4G RF technology allows you to connect the cordless keyboard from up to 30ft away. Simply plug the unifying receiver into your computer.</p></div></div><div class="features__group"><div class="card"><div class="card__img-container"><img class="card__img" src="./img/icon-battery.svg"></div><h3 class="card__title">HIGH CAPACITY BATTERY</h3><p class="card__subtitle">Equipped with a long-lasting built-in battery, you’ll never have to spend a dime on replaceable ones. Enjoy 40 hours of usage time between charges.</p></div><div class="card"><div class="card__img-container"><img class="card__img" src="./img/icon-light.svg"></div><h3 class="card__title">RGB BACKLIT MODES</h3><p class="card__subtitle">Choose from 4 backlight brightness levels and adjustable breathing speed. Each key glows intensely in the dark and helps you type in low light conditions.</p></div></div></div></div></section><footer class="footer"><p class="copyright"><span class="bold">Typemaster 2021&nbsp;</span>| All Rights Reserved</p></footer></body></html>
