clipboardLandingPage/app/index.html
<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"><meta name="keywords" content="HTML, Pug, CSS, Sass, Bootstrap"><meta name="description" content="Solution for https://www.frontendmentor.io/challenges/clipboard-landing-page-5cc9bccd6c4c91111378ecb9"><meta name="author" content="Dmitriy Granyov"><title>Clipboard Landing Page</title><!-- Favicon--><link rel="shortcut icon" href="img/favicon-32x32.png" type="image/x-icon"><!-- Bootstrap css--><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"><link rel="stylesheet" href="css/style.css"></head><body><header class="header" id="header"><div class="container"><div class="header-content"><a href="#"><img class="logo" src="img/logo.svg" alt="Clipboard"></a><div class="header-main"><h1>A history of everything you copy</h1><p class="header-main-text"> Clipboard allows you to track and organize everything you copy. Instantly access your clipboard on all your devices.</p></div><div class="header-buttons"><button class="btn btn-cta btn-lg">Download for iOS</button><button class="btn btn-cta btn-cta-blue btn-lg">Download for Mac</button></div></div></div></header><main><section class="features" id="features"><div class="container"><div class="features-header"><h2>Keep track of your snippets</h2><p class="features-header-text">Clipboard instantly stores any item you copy in the cloud, meaning you can access your snippets immideately on all your devices. Our Mac and iOS apps will help you organize everything.</p></div></div><div class="container-fluid"><div class="features-content"><div class="col-md-6"><img class="features-img" src="img/image-computer.png" alt=""></div><div class="col-md-6"><div class="features-group"><div class="feature"><h3>Quick search</h3><p>Easily search your snippets by content, category, web adress, application and more.</p></div><div class="feature"><h3>iCloud Sync</h3><p>Instantly saves and syncs snippets across all your devices.</p></div><div class="feature"><h3>Complete History</h3><p>Retrieve any snippets from the firs moment you started using the app.</p></div></div></div></div></div></section><section class="devices" id="devices"><div class="container"><div class="devices-header"><h2>Access Clipboard anywhere</h2><p class="devices-header-text">Whether you are on the go, or at your computer, yo can access all your Clipboard snippets in a few simple clicks.</p></div><img class="devices-img" src="img/image-devices.png" alt=""></div></section><section class="tools" id="tools"><div class="container"><div class="tools-header"><h2>Supercharge your workflow</h2><p class="tools-header-text">We've got the tools to boost your productivity.</p></div><div class="tools-content"><div class="row"><div class="col-md-4"><div class="tool"><img src="img/icon-blacklist.svg" alt=""/><h3>Create blacklists</h3><p>Ensure sensitive information never makes its way to your clipboard by excluding certain sources.</p></div></div><div class="col-md-4"><div class="tool"><img src="img/icon-text.svg" alt=""/><h3>Plain text snippets</h3><p>Remove unwanted formattin from copied text for a consistent look.</p></div></div><div class="col-md-4"><div class="tool"><img src="img/icon-preview.svg" alt=""/><h3>Sneak preview</h3><p>Quick preview of all snippets on your Clipboard to easy access.</p></div></div></div></div><div class="tools-companies"><div class="row"><div class="col-lg-1 col-md-0"></div><div class="cent col-lg-2 col-md-4"><img class="tools-companies-img" src="img/logo-google.png" alt="Google"/></div><div class="cent col-lg-2 col-md-4"><img class="tools-companies-img" src="img/logo-ibm.png" alt="IBM"/></div><div class="cent col-lg-2 col-md-4"><img class="tools-companies-img" src="img/logo-microsoft.png" alt="Microsoft"/></div><div class="cent pad-top col-lg-2 col-md-6"><img class="tools-companies-img" src="img/logo-hp.png" alt="Hewlett Packard"/></div><div class="cent pad-top col-lg-2 col-md-6"><img class="tools-companies-img" src="img/logo-vector-graphics.png" alt="Vector Graphics"/></div><div class="col-lg-1 col-md-0"></div></div></div></div></section><section class="cta" id="cta"><div class="container"><div class="cta-content"><h1>Clipboard for iOS and Mac OS</h1><p class="cta-content-text"> Available for free on the App Store. Download for Mac or iOS, sync with iCloud and you're ready to start adding to your clipboard.</p></div><div class="cta-buttons"><button class="btn btn-cta btn-lg">Download for iOS</button><button class="btn btn-cta btn-cta-blue btn-lg">Download for Mac</button></div></div></section><footer class="footer" id="footer"><div class="container"><div class="row"><div class="col-sm-3"><img class="logo logo-small" src="img/logo.svg" alt="Clipboard"></div><div class="col-sm-6"><div class="row"><div class="col-sm-4"><a class="link footer-link" href="#">FAQs</a></div><div class="col-sm-4"><a class="link footer-link" href="#">Privacy Policy</a></div><div class="col-sm-4"><a class="link footer-link" href="#">Install Guide</a></div><div class="col-sm-4"><a class="link footer-link" href="#">Contact Us</a></div><div class="col-sm-4"><a class="link footer-link" href="#">Press Kit</a></div></div></div><div class="col-sm-3"><div class="socials-wrap"><ul class="socials"><li><a class="link" href="#"><i class="socials-icon fab fa-facebook-square"></i></a></li><li><a class="link" href="#"><i class="socials-icon fab fab fa-twitter"></i></a></li><li><a class="link" href="#"><i class="socials-icon fab fa-instagram"></i></a></li></ul></div></div></div><div class="row"><div class="footer-author"><a class="link" href="https://gitlab.com/syr1ken">@syr1ken</a></div></div></div></footer><!-- Bootstrap + JQ--><script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script><!-- Font Awesome--><script src="https://kit.fontawesome.com/4ebe998a10.js" crossorigin="anonymous"></script></main></body></html>

clipboardLandingPage/app/index.pug
//- Constants
- const LOGO_IMG = {src: 'img/logo.svg', alt: 'Clipboard'}
- const COMPUTER_IMG = {src: 'img/image-computer.png', alt: ''}
- const DEVICES_IMG = {src: 'img/image-devices.png', alt: ''}

//- Mixins
mixin feature(featureData)
  div(class=featureData.classes)
    h3=featureData.content.title
    p=featureData.content.text

mixin tool(toolData)
  .col-md-4
    div(class=toolData.classes)
      img(src=toolData.img.src alt=toolData.img.alt)
      h3=toolData.content.title
      p=toolData.content.text
  
mixin company(companyData)
  div(class=companyData.classes)
    img(class=companyData.img.classes src=companyData.img.src alt=companyData.img.alt)

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    <meta name="keywords" content="HTML, Pug, CSS, Sass, Bootstrap">
    meta(name="description" content="Solution for https://www.frontendmentor.io/challenges/clipboard-landing-page-5cc9bccd6c4c91111378ecb9")
    meta(name="author" content="Dmitriy Granyov")
    title Clipboard Landing Page
    // Favicon
    link(rel="shortcut icon" href="img/favicon-32x32.png" type="image/x-icon")
    // Bootstrap css
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous")
    link(rel="stylesheet" href="css/style.css")
  body
    header#header.header
      .container
        .header-content
          a(href="#")
            img.logo(src=LOGO_IMG.src alt=LOGO_IMG.alt)
          .header-main
            h1 A history of everything you copy
            p.header-main-text  Clipboard allows you to track and organize everything you copy. Instantly access your clipboard on all your devices.
          .header-buttons
            button.btn.btn-cta.btn-lg Download for iOS
            button.btn.btn-cta.btn-cta-blue.btn-lg Download for Mac
    main
      section#features.features
        .container
          .features-header
            h2 Keep track of your snippets
            p.features-header-text Clipboard instantly stores any item you copy in the cloud, meaning you can access your snippets immideately on all your devices. Our Mac and iOS apps will help you organize everything.
        .container-fluid
          .features-content
            .col-md-6
              img.features-img(src=COMPUTER_IMG.src alt=COMPUTER_IMG.alt)
            .col-md-6
              .features-group
                - let features = []
                - features.push({classes: 'feature', content: {title: 'Quick search', text: 'Easily search your snippets by content, category, web adress, application and more.'}})
                - features.push({classes: 'feature', content: {title: 'iCloud Sync', text: 'Instantly saves and syncs snippets across all your devices.'}})
                - features.push({classes: 'feature', content: {title: 'Complete History', text: 'Retrieve any snippets from the firs moment you started using the app.'}})
                each feature in features
                  +feature(feature)
      section#devices.devices
        .container
          .devices-header
            h2 Access Clipboard anywhere
            p.devices-header-text Whether you are on the go, or at your computer, yo can access all your Clipboard snippets in a few simple clicks.
          img.devices-img(src=DEVICES_IMG.src alt=DEVICES_IMG.alt)
      section#tools.tools
        .container
          .tools-header
            h2 Supercharge your workflow
            p.tools-header-text We've got the tools to boost your productivity.
          .tools-content
            .row
              - let tools = []
              - tools.push({classes: 'tool', img: {src: 'img/icon-blacklist.svg', alt: ''}, content: {title: 'Create blacklists', text: 'Ensure sensitive information never makes its way to your clipboard by excluding certain sources.'}})
              - tools.push({classes: 'tool', img: {src: 'img/icon-text.svg', alt: ''}, content: {title: 'Plain text snippets', text: 'Remove unwanted formattin from copied text for a consistent look.'}})
              - tools.push({classes: 'tool', img: {src: 'img/icon-preview.svg', alt: ''}, content: {title: 'Sneak preview', text: 'Quick preview of all snippets on your Clipboard to easy access.'}})
              each tool in tools
                +tool(tool)
          .tools-companies
            .row
              .col-lg-1.col-md-0
              - let companies = []
              - companies.push({classes: 'cent col-lg-2 col-md-4', img: {classes: 'tools-companies-img', src: 'img/logo-google.png', alt: 'Google'}})
              - companies.push({classes: 'cent col-lg-2 col-md-4', img: {classes: 'tools-companies-img', src: 'img/logo-ibm.png', alt: 'IBM'}})
              - companies.push({classes: 'cent col-lg-2 col-md-4', img: {classes: 'tools-companies-img', src: 'img/logo-microsoft.png', alt: 'Microsoft'}})
              - companies.push({classes: 'cent pad-top col-lg-2 col-md-6', img: {classes: 'tools-companies-img', src: 'img/logo-hp.png', alt: 'Hewlett Packard'}})
              - companies.push({classes: 'cent pad-top col-lg-2 col-md-6', img: {classes: 'tools-companies-img', src: 'img/logo-vector-graphics.png', alt: 'Vector Graphics'}})
              each company in companies
                +company(company)
              .col-lg-1.col-md-0
      section#cta.cta
        .container
          .cta-content
            h1 Clipboard for iOS and Mac OS
            p.cta-content-text  Available for free on the App Store. Download for Mac or iOS, sync with iCloud and you're ready to start adding to your clipboard.
          .cta-buttons
            button.btn.btn-cta.btn-lg Download for iOS
            button.btn.btn-cta.btn-cta-blue.btn-lg Download for Mac
      footer#footer.footer
        .container
          .row
            .col-sm-3
              img.logo.logo-small(src=LOGO_IMG.src alt=LOGO_IMG.alt)
            .col-sm-6
              .row
                .col-sm-4
                  a.link.footer-link(href="#") FAQs
                .col-sm-4
                  a.link.footer-link(href="#") Privacy Policy
                .col-sm-4
                  a.link.footer-link(href="#") Install Guide
                .col-sm-4
                  a.link.footer-link(href="#") Contact Us
                .col-sm-4
                  a.link.footer-link(href="#") Press Kit
            .col-sm-3
              .socials-wrap
                ul.socials
                  li
                    a.link(href="#")
                      <i class="socials-icon fab fa-facebook-square"></i>
                  li
                    a.link(href="#")
                      <i class="socials-icon fab fab fa-twitter"></i>
                  li
                    a.link(href="#")
                      <i class="socials-icon fab fa-instagram"></i>
          .row
            .footer-author
              a.link(href="https://gitlab.com/syr1ken") @syr1ken
                
      // Bootstrap + JQ
      script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous")
      script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
      script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous")
      // Font Awesome
      script(src="https://kit.fontawesome.com/4ebe998a10.js" crossorigin="anonymous")
                  
        
