pingComingSoonPageMaster/app/index.pug
//- Constants
- const LOGO_IMG = {src: 'img/logo.svg', alt: 'PING'}
- const MAIN_IMG = {src: 'img/illustration-dashboard.png', alt: 'illustration-dashboard'}

//- Mixins
mixin socialsItem(itemData)
  li(class=itemData.class)
    a(href=itemData.href)
      i(class=itemData.iconClass)
        
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    <meta name="keywords" content="HTML, Pug, CSS, Stylus, Bootstrap-reset">
    meta(name="description" content="Solution for https://www.frontendmentor.io/challenges/ping-single-column-coming-soon-page-5cadd051fec04111f7b848da")
    meta(name="author" content="Dmitriy Granyov")
    title Ping Coming Soon Page Master
    // Favicon
    link(rel="shortcut icon" href="img/favicon-32x32.png" type="image/x-icon")
    link(rel="stylesheet" href="css/style.css")
  body
    header#header
      img.logo(src=LOGO_IMG.src alt=LOGO_IMG.alt)
    main#main.main
      .container
        h1.main-header
          | We are launching 
          span soon!
        p.main-subheader Subscribe and get notified
        form.form(action="#")
          .form-group
            input.form-input(name="email" type="email" placeholder="Email adress")
            small.form-error(for="email") asad
            button.form-submit(type="submit") Notify Me
        img.main-img(src=MAIN_IMG.src alt=MAIN_IMG.alt)
    footer#footer.footer
      ul.socials
        - const social_items = []
        - social_items.push({class: 'socials__item', href: '#', iconClass: 'fab fa-facebook-f'})
        - social_items.push({class: 'socials__item', href: '#', iconClass: 'fab fa-twitter'})
        - social_items.push({class: 'socials__item', href: '#', iconClass: 'fab fa-instagram'})
        each item in social_items
          +socialsItem(item)
      p.footer-copyright @ Copyright 2018 Huddle. All rights reserved.
      a.footer-author(href="https://github.com/syr1ken") @syr1ken
    // Font awesome
    script(src="https://kit.fontawesome.com/4ebe998a10.js" crossorigin="anonymous")
    script(src="js/main.js")

pingComingSoonPageMaster/app/index.html
<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"><meta name="keywords" content="HTML, Pug, CSS, Stylus, Bootstrap-reset"><meta name="description" content="Solution for https://www.frontendmentor.io/challenges/ping-single-column-coming-soon-page-5cadd051fec04111f7b848da"><meta name="author" content="Dmitriy Granyov"><title>Ping Coming Soon Page Master</title><!-- Favicon--><link rel="shortcut icon" href="img/favicon-32x32.png" type="image/x-icon"><link rel="stylesheet" href="css/style.css"></head><body><header id="header"><img class="logo" src="img/logo.svg" alt="PING"></header><main class="main" id="main"><div class="container"><h1 class="main-header">We are launching <span>soon!</span></h1><p class="main-subheader">Subscribe and get notified</p><form class="form" action="#"><div class="form-group"><input class="form-input" name="email" type="email" placeholder="Email adress"><small class="form-error" for="email">asad</small><button class="form-submit" type="submit">Notify Me</button></div></form><img class="main-img" src="img/illustration-dashboard.png" alt="illustration-dashboard"></div></main><footer class="footer" id="footer"><ul class="socials"><li class="socials__item"><a href="#"><i class="fab fa-facebook-f"></i></a></li><li class="socials__item"><a href="#"><i class="fab fa-twitter"></i></a></li><li class="socials__item"><a href="#"><i class="fab fa-instagram"></i></a></li></ul><p class="footer-copyright">@ Copyright 2018 Huddle. All rights reserved.</p><a class="footer-author" href="https://github.com/syr1ken">@syr1ken</a></footer><!-- Font awesome--><script src="https://kit.fontawesome.com/4ebe998a10.js" crossorigin="anonymous"></script><script src="js/main.js"></script></body></html>
