huddleLandingPageWithCurvedSections/dist/index.html
<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"><meta name="keywords" content="HTML, Pug, CSS, Stylus, Bootstrap-reset"><meta name="description" content="Solution for https://www.frontendmentor.io/challenges/huddle-landing-page-with-curved-sections-5ca5ecd01e82137ec91a50f2"><meta name="author" content="Dmitriy Granyov"><title>Huddle Landing Page With Curved Sections</title><!-- Favicon--><link rel="shortcut icon" href="img/favicon-32x32.png" type="image/x-icon"><!-- Bootstrap--><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"><link rel="stylesheet" href="css/style.css"></head><body><!-- Header--><header class="header"><div class="container-fluid"><nav class="navbar header-nav"><a href="#"><img class="logo" src="img/logo.svg" alt="Huddle"></a><button class="btn btn-nav">Try It Free</button></nav></div></header><!-- Main--><section class="main"><div class="container"><div class="main-content"><h1>Build The Community Your Fans Will Love</h1><p>Huddle re-imagines the way we build communities. You have a voice, but so does your audience.
Create connections with your users as you engage in genuine discussion.</p><button class="btn btn-cta">Get Started For Free</button></div><img class="main-img" src="img/screen-mockups.svg" alt="Screen Mockups"></div></section><!-- Statistics--><section class="statistics"><div class="container"><div class="row"><div class="col-md-6"><div class="statistics__card"><img class="statistics__img" src="img/icon-communities.svg" alt="Communities"/><span>1.4k+</span><p>Communities Formed</p></div></div><div class="col-md-6"><div class="statistics__card"><img class="statistics__img" src="img/icon-messages.svg" alt="Messasges"/><span>2.7m+</span><p>Messages Sent</p></div></div></div></div></section><!-- Features--><section class="features"><div class="feature-bg feature-bg-top_1"></div><div class="feature feature-colored"><div class="container-fluid"><div class="feature-content feature-reverse"><img class="feature__img" src="img/illustration-grow-together.svg" alt="Grow Together"/><div class="feature__text"><h1>Grow Together</h1><p>Generate meaningful discussions with your audience and build a strong, loyal community. Think of the insightful conversations you miss out on with a feedback form.</p></div></div></div></div><div class="feature-bg feature-bg-bottom_1"></div><div class="feature"><div class="container-fluid"><div class="feature-content"><img class="feature__img" src="img/illustration-flowing-conversation.svg" alt="Flowing Conversations"/><div class="feature__text"><h1>Flowing Conversations</h1><p>You wouldn't paginate a conversation in real life, so why do it online? Our threads have just-in-time loading for a more natural flow.</p></div></div></div></div><div class="feature-bg feature-bg-top_2"></div><div class="feature feature-colored"><div class="container-fluid"><div class="feature-content feature-reverse"><img class="feature__img" src="img/illustration-your-users.svg" alt="Your Users"/><div class="feature__text"><h1>Your Users</h1><p>It takes no time at all to integrate Huddle with your app's authentication solution. This means, once signed in to your app, your users can start chatting immediately.</p></div></div></div></div><div class="feature-bg feature-bg-bottom_2"></div></section><!-- CTA--><section class="cta"><div class="container"><h1>Ready To Build Your Community?</h1><button class="btn-cta btn btn-lg">Get Started For Free</button></div></section><!-- Footer--><footer class="footer"><div class="footer-bg footer-bg-top"></div><div class="footer-content"><div class="container-fluid"><div class="row"><div class="col-lg-6 order-2 order-xl-1 order-lg-1"><div class="row"><div class="col"><img class="logo footer-logo" src="img/logo_white.svg" alt="Huddle"></div></div><div class="row"><div class="col"><div class="footer__info"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci facilis officia odit ratione ut debitis maiores distinctio consequuntur, eveniet numquam!</p></div><div class="footer__info"><i class="footer__icon fas fa-phone-alt"></i><p>+1-543-123-4567</p></div><div class="footer__info"><i class="footer__icon far fa-envelope"></i><p>example@huddle.com</p></div></div></div></div><div class="col-lg-6 order-1 order-xl-2 order-lg-2"><form class="footer-form" action="#"><h2>Newsletter</h2><p>To recieve tips on how to grow your community,
sign up to our weekly newsteller. We'll never send
you spam or pass on your email adress</p><div class="form-group"><input class="footer-form__email form-control" type="email" placeholder="Enter your email..."><button class="btn btn-lg footer-form__btn btn-subscribe" type="submit">Subscribe</button></div></form></div></div><div class="row"><div class="col"><ul class="socials"><li class="socials__item"><a href="#"><i class="fab fa-facebook-square">       </i></a></li><li class="socials__item"><a href="#"><i class="fab fa-instagram">       </i></a></li><li class="socials__item"><a href="#"><i class="fab fa-twitter-square">       </i></a></li></ul></div></div><div class="row"><div class="col"><div class="footer-author"><a href="https://gitlab.com/syr1ken">@syr1ken</a></div></div></div></div></div></footer><!-- Bootstrap + JQ--><script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script><!-- Font Awesome--><script src="https://kit.fontawesome.com/4ebe998a10.js" crossorigin="anonymous"></script></body></html>

huddleLandingPageWithCurvedSections/app/index.pug
//- Constants
- const LOGO_IMG = {src: 'img/logo.svg', alt: 'Huddle'}
- const LOGO_WHITE_IMG = {src: 'img/logo_white.svg', alt: 'Huddle'}
- const MAIN_IMG = {src: 'img/screen-mockups.svg', alt: 'Screen Mockups'}

//- Mixins
mixin statistic(statisticData)
  .col-md-6
    div.statistics__card
      img.statistics__img(src=statisticData.img.src alt=statisticData.img.alt)
      span=statisticData.content.header
      p=statisticData.content.subheader

mixin feature(featureData)
  if featureData.topBg || featureData.bottomBg
    div(class=featureData.topBg)
    div(class=featureData.classes)
      .container-fluid
        div(class=featureData.content.classes)
          img.feature__img(src=featureData.img.src alt=featureData.img.alt)
          .feature__text
            h1=featureData.content.header
            p=featureData.content.subheader
    div(class=featureData.bottomBg)
  else
    div(class=featureData.classes)
      .container-fluid
        div(class=featureData.content.classes)
          img.feature__img(src=featureData.img.src alt=featureData.img.alt)
          .feature__text
            h1=featureData.content.header
            p=featureData.content.subheader

mixin footerInfo(infoData)
  div(class=infoData.classes)
    if infoData.icon
      i(class=infoData.icon.classes)
      p=infoData.text
    else
      p=infoData.text
        
mixin socialsItem(itemData)
  li(class=itemData.classes)
    a(href=itemData.href)
      i(class=itemData.icon.classes)        
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    <meta name="keywords" content="HTML, Pug, CSS, Stylus, Bootstrap-reset">
    meta(name="description" content="Solution for https://www.frontendmentor.io/challenges/huddle-landing-page-with-curved-sections-5ca5ecd01e82137ec91a50f2")
    meta(name="author" content="Dmitriy Granyov")
    title Huddle Landing Page With Curved Sections
    // Favicon
    link(rel="shortcut icon" href="img/favicon-32x32.png" type="image/x-icon")
    // Bootstrap
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous")
    link(rel="stylesheet" href="css/style.css")
  body
    // Header
    header.header
      .container-fluid
        nav.navbar.header-nav
          a(href="#")
            img.logo(src=LOGO_IMG.src alt=LOGO_IMG.alt)
          button.btn.btn-nav Try It Free
    // Main
    section.main
      .container
        .main-content
          h1 Build The Community Your Fans Will Love
          p.
            Huddle re-imagines the way we build communities. You have a voice, but so does your audience.
            Create connections with your users as you engage in genuine discussion.
          button.btn.btn-cta Get Started For Free
        img.main-img(src=MAIN_IMG.src alt=MAIN_IMG.alt)
    // Statistics
    section.statistics
      .container
        .row
          - const stats = []
          - stats.push({img: {src: 'img/icon-communities.svg', alt: 'Communities'}, content: {header: '1.4k+', subheader: 'Communities Formed'}})
          - stats.push({img: {src: 'img/icon-messages.svg', alt: 'Messasges'}, content: {header: '2.7m+', subheader: 'Messages Sent'}})
          each stat in stats
            +statistic(stat)
    // Features
    section.features
        - const features = []
        - features.push({topBg: 'feature-bg feature-bg-top_1', bottomBg: 'feature-bg feature-bg-bottom_1', classes: 'feature feature-colored', img: {src: 'img/illustration-grow-together.svg', alt: 'Grow Together'}, content: {classes: 'feature-content feature-reverse', header: 'Grow Together', subheader: 'Generate meaningful discussions with your audience and build a strong, loyal community. Think of the insightful conversations you miss out on with a feedback form.'}})
        - features.push({topBg: '', bottomBg: '', classes: 'feature', img: {src: 'img/illustration-flowing-conversation.svg', alt: 'Flowing Conversations'}, content: {classes: 'feature-content', header: 'Flowing Conversations', subheader: 'You wouldn\'t paginate a conversation in real life, so why do it online? Our threads have just-in-time loading for a more natural flow.'}})
        - features.push({topBg: 'feature-bg feature-bg-top_2', bottomBg: 'feature-bg feature-bg-bottom_2', classes: 'feature feature-colored', img: {src: 'img/illustration-your-users.svg', alt: 'Your Users'}, content: {classes: 'feature-content feature-reverse', header: 'Your Users', subheader: 'It takes no time at all to integrate Huddle with your app\'s authentication solution. This means, once signed in to your app, your users can start chatting immediately.'}})
        each feature in features
          +feature(feature)
    // CTA
    section.cta
      .container
        h1 Ready To Build Your Community?
        button.btn-cta.btn.btn-lg Get Started For Free
    // Footer
    footer.footer
      .footer-bg.footer-bg-top
      .footer-content
        .container-fluid
          .row
            .col-lg-6.order-2.order-xl-1.order-lg-1
              .row
                .col
                  img.logo.footer-logo(src=LOGO_WHITE_IMG.src alt=LOGO_WHITE_IMG.alt)
              .row
                .col
                  - const footer_info = []
                  - footer_info.push({classes: 'footer__info', text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci facilis officia odit ratione ut debitis maiores distinctio consequuntur, eveniet numquam!'})
                  - footer_info.push({classes: 'footer__info', icon: {classes: 'footer__icon fas fa-phone-alt'}, text: '+1-543-123-4567'})
                  - footer_info.push({classes: 'footer__info', icon: {classes: 'footer__icon far fa-envelope'}, text: 'example@huddle.com'})
                  each item in footer_info
                    +footerInfo(item)
            .col-lg-6.order-1.order-xl-2.order-lg-2
              form(action='#').footer-form
                h2 Newsletter
                p.
                  To recieve tips on how to grow your community,
                  sign up to our weekly newsteller. We'll never send
                  you spam or pass on your email adress
                .form-group
                  input.footer-form__email.form-control(type="email" placeholder="Enter your email...")
                  button.btn.btn-lg.footer-form__btn.btn-subscribe(type="submit") Subscribe
          .row
            .col
              ul.socials
                - const social_items = []
                - social_items.push({classes: 'socials__item', href: '#', icon: {classes: 'fab fa-facebook-square'}})
                - social_items.push({classes: 'socials__item', href: '#', icon: {classes: 'fab fa-instagram'}})
                - social_items.push({classes: 'socials__item', href: '#', icon: {classes: 'fab fa-twitter-square'}})
                each item in social_items
                  +socialsItem(item)
          .row
            .col
              .footer-author
                a(href="https://gitlab.com/syr1ken") @syr1ken
    // Bootstrap + JQ
    script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous")
    // Font Awesome
    script(src="https://kit.fontawesome.com/4ebe998a10.js" crossorigin="anonymous")
