articlePreviewComponent/app/index.pug
//- Constants
- const TESTIMONIAL_IMG = {src: 'img/avatar-michelle.jpg', alt: '{michelle}'}

//- Mixins
mixin socialsItem(itemData)
  li(class=itemData.class)
    a(href=itemData.href)
      i(class=itemData.iconClass)
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    <meta name="keywords" content="HTML, Pug, CSS, Sass, Bootstrap">
    meta(name="description" content="Solution for https://www.frontendmentor.io/challenges/article-preview-component-dYBN_pYFT")
    meta(name="author" content="Dmitriy Granyov")
    title Article Preview Component
    // Favicon
    link(rel="shortcut icon" href="img/favicon-32x32.png" type="image/x-icon")
    // Bootstrap css
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous")
    link(rel="stylesheet" href="css/style.css")
  body
    main#main
      .testimonial
        .testimonial-img
        .testimonial-content
          h1 Shift the overall look and feel by adding these wonderful touches to furniture in your home
          p(class="testimonial-content-text").
            Ever been in a room and felt like something was missing? Perhaps 
            it felt slightly bare and uninviting. I’ve got some simple tips 
            to help you make any room feel complete.
          .media
            img.media-img(src=TESTIMONIAL_IMG.src alt=TESTIMONIAL_IMG.alt)
            .media-body
              h3 Michelle Appleton
              p 28 Jun 2020
          a.share__btn(href="#")
            i.fas.fa-share
          .share__modal
            p Share
            ul.socials
              - const social_items = []
              - social_items.push({class: 'socials__item', href: '#', iconClass: 'fab fa-facebook-square'})
              - social_items.push({class: 'socials__item', href: '#', iconClass: 'fab fa-twitter'})
              - social_items.push({class: 'socials__item', href: '#', iconClass: 'fab fa-pinterest'})
              each item in social_items
                +socialsItem(item)
    // Bootstrap + JQ
    script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous")
    // Font Awesome
    script(src="https://kit.fontawesome.com/4ebe998a10.js" crossorigin="anonymous")
    script(src="js/main.js")

articlePreviewComponent/dist/index.html
<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"><meta name="keywords" content="HTML, Pug, CSS, Sass, Bootstrap"><meta name="description" content="Solution for https://www.frontendmentor.io/challenges/article-preview-component-dYBN_pYFT"><meta name="author" content="Dmitriy Granyov"><title>Article Preview Component</title><!-- Favicon--><link rel="shortcut icon" href="img/favicon-32x32.png" type="image/x-icon"><!-- Bootstrap css--><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"><link rel="stylesheet" href="css/style.css"></head><body><main id="main"><div class="testimonial"><div class="testimonial-img"></div><div class="testimonial-content"><h1>Shift the overall look and feel by adding these wonderful touches to furniture in your home</h1><p class="testimonial-content-text">Ever been in a room and felt like something was missing? Perhaps 
it felt slightly bare and uninviting. I’ve got some simple tips 
to help you make any room feel complete.</p><div class="media"><img class="media-img" src="img/avatar-michelle.jpg" alt="{michelle}"><div class="media-body"><h3>Michelle Appleton</h3><p>28 Jun 2020</p></div></div><a class="share__btn" href="#"><i class="fas fa-share"></i></a><div class="share__modal"><p>Share</p><ul class="socials"><li class="socials__item"><a href="#"><i class="fab fa-facebook-square"></i></a></li><li class="socials__item"><a href="#"><i class="fab fa-twitter"></i></a></li><li class="socials__item"><a href="#"><i class="fab fa-pinterest"></i></a></li></ul></div></div></div></main><!-- Bootstrap + JQ--><script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script><!-- Font Awesome--><script src="https://kit.fontawesome.com/4ebe998a10.js" crossorigin="anonymous"></script><script src="js/main.js"></script></body></html>
